.modal {
   transition: all .3s ease-out;
   background: rgba($mainWhite, .94);
   transform: scale(1.2);
   visibility: hidden;
   position: fixed;
   z-index: 5;
   opacity: 0;
   right: 0;
   left: 0;
   bottom: 0;
   top: 0;

   &--is-visible {
     transform: scale(1);
     visibility: visible;
     opacity: 1;

   }

   &__inner {
     position: absolute;
     transform: translateY(-50%);
     width: 100%;
     top: 50%;
   }

   &__description {
     margin-top: 0;
     text-align: center;
     font-size: 1.3rem;
     font-weight: 300;
     line-height: 1.65;
   }

   &__close {
     position: absolute;
     top: 15px;
     right: 15px;
     font-weight:  400;
     font-size: 2rem;
     transform: scaleX(1.2);
     transform-origin: 100% 0;
     color: $mainBlue;

     &:hover {
       color: $mainOrange;
       cursor: pointer;
     }
   }
}
