.wrapper {
  max-width: 1236px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
  overflow: hidden;

  &--no-padding-until-medium {
     padding-right: 0;
     padding-left: 0;

     @mixin atMedium {
       padding-right: 16px;
       padding-left: 16px;
     }
  }


  &--medium {
    max-width: 976px;
    margin: 0 auto;
  }

  .wrapper {
    padding-right: 0;
    padding-left: 0;
  }

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
  }

}
